<!-- templates/home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
Cześć, {{ user.username }}!
<p><a href="{% url 'logout' %}">Wyloguj</a></p>
<p><a class="btn btn-primary btn-lg" href="{% url 'product_list' %}" role="button">
Zobacz dodane produkty</a></p>{% else %}
<p>Nie jesteś zalogowany</p>
<a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Dołącz do nas!</a> {% endif %}
{% endblock content %}